{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <h1>About Us</h1>
    <h2></h2>

    <p>On our first date, about three years ago, the ice breaker were our ”upset belly and no toilets” stories we collected on our previous journeys.</p>

    <p>Three years later, we discovered loads of beatutiful beaches, amazing waterfalls deep canyons and romantic sunsets together. We dream of visiting a lot more of those spots together. Discovering nature, food, culture, animals and ourselves on the way.</p>
        
    <p>Putting all of our travel photos together on our little blog you are on right now (Thanks! 😊) unraveled our passion for getting around and sharing our experiences with you guys.</p>
        
    <p>We hope you like it here and enjoy trawling through the all of the spots. If you want to support what we are doing, please consider using one of the links to our partner sites if you were about to book something. Your price will remain the same, but we will earn a little commission.</p>
        
    <p>Thanks for stopping by!</p>
        
    <p>All the best and stay happy, healthy and curious!</p>
        
    <p>Maxi and Gerrit</p>

{% endblock %}