{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <h1>Imprint</h1>
    <h2>Impressum</h2>

    <p>Gerrit Kehr Webentwicklung, Onlinemarketing und Haushaltsdienstleistungen<br>Karl-Schrader-Str. 5<br>10781 Berlin<br>Deutschland</p>

    <p>Tel.: +4930/30134785<br>E-Mail: glkehr@gmail.com</p>

    <p>Plattform der EU-Kommission zur Online-Streitbeilegung:&nbsp;<a target="_blank" href="https://ec.europa.eu/odr" rel="noreferrer noopener">https://ec.europa.eu/odr</a></p>

    <p>Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>

    <p>Verantwortliche/r i.S.d. § 18 Abs. 2 MStV:<br>Gerrit Kehr, Karl-Schrader-Str. 5, 10781 Berlin</p>
{% endblock %}